#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;  
    background-color: white;
}

#pawn-promotion-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#pawn-promotion-modal.hidden {
    display: none;
}

#pawn-promotion-modal > .modal-body {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pawn-promotion-modal > .modal-body > img {
    height: 120px;
    padding: 10px;
    border-radius: 50%
}

#pawn-promotion-modal > .modal-body > img:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

